*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: "Reddit Mono", monospace;
    height: 300vh;
}

//reset link
a{
    color: inherit;
    text-decoration: none;
}